body{
    background:linear-gradient(#ff9933,white,green) ;
}
button{
    width: fit-content;
    padding: 8px;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: whitesmoke;
}
button:hover{
    background: rgba(0, 0, 0, 0.5);
}
.container{
    border: 1px solid black;
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message{
    border: 1px solid blue;
    background: rgba(0, 0, 255, 0.4);
    border-radius: 5px;
    width: 500px;
    height: auto;
    margin: auto;
    padding: 0 20px;
    box-shadow: 0px 2px 4px 0px grba(0,0,0,0.4);
}
.message input{
    width: 90%;
    padding: 8px 0;
    border-radius: 5px;
    border: 1px solid blue;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

@media(max-width:480px){
    .message input{
        width: 80%;
    }
}